<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367895291134-5d4ns2sdv5afrph3om9kegeqdsee7c68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367895291134-5d4ns2sdv5afrph3om9kegeqdsee7c68</string>
	<key>API_KEY</key>
	<string>AIzaSyAc9u67FXvZC27lb_K785glERh7PDpsA_A</string>
	<key>GCM_SENDER_ID</key>
	<string>367895291134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grad</string>
	<key>PROJECT_ID</key>
	<string>Bliseen</string>
	<key>STORAGE_BUCKET</key>
	<string>bliseen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367895291134:ios:fffe9955638101deca71af</string>
</dict>
</plist>